body {
  background: #00FFFF;
}

h1 {
  color: #1c1c1c;
  margin-left: 40px;
  font-family: 'DynaPuff', cursive;
  font-size: 30px;
}

.botao {
  display: block;
  text-decoration: none;
  margin-top: 20px;
  margin-left: 40px;
  
}

.m1 {
  font-size: 40px;
  color: #FF00FF;
  
}

.m2 {
  font-size: 40px;
  color: #FFFF00;
}

.m3 {
  font-size: 40px;
  color: #8B008B;
}

.m4 {
  font-size: 40px;
  color: #8A2BE2;
}

.m5 {
  font-size: 40px;
}