body {
  background: #F5DEB3;
}

h1 {
  color: black;
  margin-left: 40px;
  font-family: 'Playwrite CU Guides', cursive;
  font-size: 30px;
}

.botao {
  display: inline-block;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  margin-left: 40px;
}

.m1 {
  font-size: 40px;
  
}

.m2 {
  font-size: 40px;
}

.m3 {
  font-size: 40px;
}

.m4 {
  font-size: 40px;
}

.m5 {
  font-size: 40px;
}